@font-face {
    font-family: "ChalkboardSE";
    src: url('/fonts/ChalkboardSE-Regular.ttf');
}

@font-face {
    font-family: 'Boogaloo', cursive;
    src: url('https://fonts.googleapis.com/css?family=Boogaloo');
}


/* Navbar */

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 0 solid transparent;
    top: 2em;
    left: 1em;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(248, 248, 248, 0) 100%);
    box-shadow: none;
}

.title-font {
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
}

ul.nav.navbar-nav.title-font.logo {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-nav>li>a {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.sign-btn {
    padding: 5px 16px 5px 16px!important;
    margin-left: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
    font-size: 16px;
    font-family: 'ChalkboardSE-Regular', cursive;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 15px;
    }
}

.navbar-brand {
    padding: 0;
}

img.logo {
    width: 2em;
    position: absolute;
    top: -15px;
    margin-left: 5px;
}

a.text-logo {
    text-align: left;
    width: 7em;
    height: 1.4em;
}


/* Login - Register - Modal */

.login-modal {
    margin-top: 10em;
}

.input-modal {
    opacity: 0.8!important;
    border: 1px solid rgba(93, 93, 93, 0.28)!important;
}

.modal-backdrop {
    position: relative;
}


/* Home  */

body {
    font-family: 'ChalkboardSE', cursive;
    background-image: url(/img/home-background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

h2 {
    margin-top: 8px;
}

.form-control {
    height: 50px;
    opacity: 0.5;
    border: 1px solid #5d5d5d;
}

.search {
    margin-top: 120px;
    color: white;
}

.categories {
    font-size: 1.7em;
}

.ingredient {
    list-style-type: none;
    display: inline-block;
}

.ingredients {
    font-size: 1.7em;
    margin-bottom: 50px;
    border-width: medium;
    border-top: 4px solid
}

.wrist {
    width: 267%;
    float: left;
    margin-top: 8px;
}

.icons {
    width: 90%;
}

.photos {
    float: left;
    padding: 1px 0 0 0;
}

. .description {
    font-size: 16px;
}

.rightside {
    color: white;
    float: right;
    margin-bottom: 35px;
}

.recipes {
    border: 3px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 70px;
    margin-right: 5px;
}

#main {
    margin-top: 200px;
}

#fridge {
    padding: 25px 30px 25px 30px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.7;
}


/***** Footer *****/

footer {
    background-image: url(/img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 1em 1em 1em 1em;
}

.footer-text {
    font-size: 20px;
}

.policecolor {
    color: white;
}

.font {
    font-family: Boogaloo, cursive;
}

footer i.fa.fa {
    margin-right: 5px;
}

h3 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    font-size: 25px;
    margin-bottom: 0.5em;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:before {
    color: white;
}

a:active {
    color: white;
}

li:nth-child(6) {
    list-style: none;
}

#ppp {
    /*position: absolute;
    top: 5.9em;
    left: 4vw;*/
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.pad-copyright {
    padding-top: 6em;
}

@media screen and (max-width:768px) {
    .pad-copyright {
        padding-top: 2em;
    }
    .footer-text {
        font-size: 12px;
    }
}


/******* Profile *******/

.back-profile {
    /* background-color: rgba(165, 42, 42, 0.74); */
    /* margin: 8em 5em 5em 5em; */
    background-image: url(/img/4454029-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.back-form-profile {
    background-color: rgba(165, 42, 42, 0.62);
    color: #f8f8ff;
}

.well {
    background-image: -webkit-linear-gradient(top, #484848 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #484848 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #484848 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    min-height: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
    -webkit-box-shadow: 2px 3px 10px rgba(72, 72, 72, 0.85);
    box-shadow: 2px 3px 10px rgba(72, 72, 72, 0.85);
}

input[type="file"] {
    display: inline-flex;
}
