@font-face {
    font-family: "ChalkboardSE";
    src: url('/fonts/ChalkboardSE-Regular.ttf');
}

@font-face {
    font-family: 'Boogaloo', cursive;
    src: url('https://fonts.googleapis.com/css?family=Boogaloo');
}

.fa:hover {
    color: #f44336!important;
}

.fa {
    transition: all 0.2s;
}


/* Navbar */

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 0 solid transparent;
    top: 2em;
    left: 1em;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(248, 248, 248, 0) 100%);
    box-shadow: none;
}

.title-font {
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
}

ul.nav.navbar-nav.title-font.logo {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-nav>li>a {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.sign-btn {
    padding: 5px 16px 5px 16px!important;
    margin-left: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
    font-size: 16px;
    font-family: 'ChalkboardSE', cursive;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 15px;
    }
}

.navbar-brand {
    padding: 0;
}

img.logo {
    width: 2em;
    position: absolute;
    top: -15px;
    margin-left: 5px;
}

a.text-logo {
    text-align: left;
    width: 7em;
    height: 1.4em;
}


/* Login - Register - Modal */

.login-modal {
    margin-top: 10em;
}

.input-modal {
    opacity: 0.8!important;
    border: 1px solid rgba(93, 93, 93, 0.28)!important;
}

.modal-backdrop {
    position: relative;
}

.modal-open {
    overflow: auto;
}


/* Home  */

body {
    font-family: 'ChalkboardSE', cursive;
}

.bodystyle {
    font-family: 'ChalkboardSE', cursive;
    background-image: url(/img/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6em;
    position: relative;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.85);
}

h2 {
    margin-top: 8px;
}

.title-home {
    font-size: 2em;
}

space:after {
    content: ' ';
}

.span-ingredients {
    background-color: #f75000;
    display: inline-block;
    padding: 5px 10px 11px 10px;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.span-ingredients:hover {
    background-color: #af3900;
}

.form-control {
    height: 50px;
    opacity: 0.5;
    border: 1px solid #5d5d5d;
    font-size: 20px;
}

.search {
    margin-top: 1em;
    color: white;
}

.categories {
    font-size: 1.5em;
}

.categories h2 {
    font-size: 1.7em;
}

.ingredient {
    list-style-type: none;
    display: inline-block;
}

.ingredients {
    font-size: 1.5em;
    /*margin-bottom: 50px;*/
    border-width: medium;
    border-top: 4px solid
}

.ingredients h2 {
    font-size: 1.7em;
}

.wrist {
    background-image: url(/img/poignet.svg);
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: 0% 60%;
    margin-bottom: 4%;
}

.vegetables {}

.icons {
    width: 90%;
}

.photos {
    float: left;
    padding: 1px 0 0 0;
    height: 8em;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .3s;
}

.left-pre-results {
    padding: 0px;
}

.right-pre-results {
    padding-left: 10px;
    padding-right: 0px;
}

.title-pre-results {
    font-size: 1.6em;
    letter-spacing: 0.8px;
    font-family: 'Boogaloo', cursive;
    position: absolute;
    text-shadow: 1px 2px 4px black;
}

.fa-fa-pre-results {
    position: absolute;
    right: 5%;
    margin-top: 4.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    padding: 5px 10px;
}
.fa-fa-detail-results {
    position: absolute;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    padding: 5px 10px;
    bottom: 50px;
}

.back-pre-results {
    background-color: blueviolet;
    padding: 0.5em;
    border-radius: 3px;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    margin-bottom: 2.5em;
    transition-duration: .3s;
    animation-delay: 2s;
}

.back-pre-results:hover {
    background-color: #7029bb;
}

.description {
    font-size: 16px;
}

.rightside {
    color: white;
    float: right;
    margin-bottom: 35px;
}

.recipes {
    border: 3px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 70px;
    margin-right: 5px;
}

#main {
    padding: 10em 3em 0em 3em;
}

#fridge {
    padding: 1em 2em 1em 2em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    height: 50em;
}

.home-search {
    margin-top: 2em;
}

.btn-find {
    background-color: #8B47F7;
    border-color: #8B47F7;
    font-size: 1em;
    padding: 0px 25px 5px 25px;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    margin-top: 0.7em;
}

.btn-find:hover {
    background-color: #5a2da2;
    border-color: #8B47F7;
}

.btn-find:active {
    background-color: #8B47F7;
    border-color: #8B47F7;
}

.btn-find:active:focus {
    background-color: #8B47F7;
    border-color: #8B47F7;
}

.btn-find:focus {
    background-color: #8B47F7;
    border-color: #8B47F7;
}

.hvr-grow {
    display: inherit;
}


/***** Detail Page *****/

.body-detail {
    background-image: url(/img/detail-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
    padding-top: 10em;
    background-color: #e1ddd9;
    position: relative;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.85);
    /* background-position: 50% 50%; */
}

.img-detail {
    float: left;
    padding: 1px 0 0 0;
    height: 30em;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    border-radius: 30px;
    cursor: pointer;
    transition-duration: .3s;
}

.detail {
    font-size: 1.5em;
    padding-left: 2em;
    animation-delay: 1s;
}

.btn-detail {
    background-color: #f75000;
    display: inline-block;
    padding: 5px 20px 11px 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    font-size: 90%;
}

.btn-detail:hover {
    background-color: #af3900;
    text-decoration: none;
    color: white;
}

.btn-detail:focus {
    text-decoration: none;
    color: white;
}

.back-img-detail {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 2em;
    border-radius: 20px;
    animation-delay: 2s;
}


/***** Results Page *****/

.img-results {
    float: left;
    padding: 1px 0 0 0;
    height: 15em;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 6px 0 rgba(39, 39, 39, 0.7);
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .3s;
    margin-bottom: 1em;
}

.thumbnail {
    padding: 0.5em;
    height: 28em;
    position: relative;
}

.caption.text-center {
    background-color: #d6cbc2;
    border-radius: 7px;
    padding: 10px 3px;
    width: 90%;
    margin: 0 auto;
}

.absolute {
    position: absolute;
    left: 16px;
    bottom: 10px;
}


/***** Footer *****/

footer {
    background-image: url(/img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 1em 1em 1em 1em;
}

.footer-text {
    font-size: 20px;
    color: white;
}

.footer-text:hover {
    color: #b5b5b5;
    cursor: pointer;
}

.policecolor {
    color: white;
}

.font {
    font-family: Boogaloo, cursive;
}

footer i.fa.fa {
    margin-right: 5px;
}

h3 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    font-size: 25px;
    margin-bottom: 0.5em;
}


/*a:link {
    color: white;
}

a:visited {
    color: white;
}

a:before {
    color: white;
}

a:active {
    color: white;
}*/

li:nth-child(6) {
    list-style: none;
}

#ppp {
    /*position: absolute;
    top: 5.9em;
    left: 4vw;*/
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.pad-copyright {
    padding-top: 6em;
}

@media screen and (max-width:768px) {
    .pad-copyright {
        padding-top: 2em;
    }
    .footer-text {
        font-size: 12px;
    }
}


/******* Profile *******/

.back-profile {
    /* background-color: rgba(165, 42, 42, 0.74); */
    /* margin: 8em 5em 5em 5em; */
    background-image: url(/img/4454029-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.back-form-profile {
    background-color: rgba(165, 42, 42, 0.62);
    color: #f8f8ff;
    margin: 7em auto;
}

.well {
    background-image: -webkit-linear-gradient(top, #484848 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #484848 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #484848 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    min-height: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
    -webkit-box-shadow: 2px 3px 10px rgba(72, 72, 72, 0.85);
    box-shadow: 2px 3px 10px rgba(72, 72, 72, 0.85);
}

input[type="file"] {
    display: inline-flex;
}


/****Dashboard****/

.fava {
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb2d3e, #ef473a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cb2d3e, #ef473a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    /*position: relative;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.85);*/
}

.dashb {
    min-height: 100vh;
    background-image: url(/img/legumes-2_preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.85);
}


/*.dashc {
    min-height: 30vh;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
}*/

.thbimg {
    margin-top: 2vh;
    background-size: contain;
}

.Cook {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 6.5em;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
}

.Thubmnail {
    margin top: 2vh
}

img.thbimg {
    width: 100%;
}

i {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.pb {
    margin-bottom: 5em;
}

a.thumbnail {
    color: black;
}
