
<div class="container-fluid body-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 animated fadeInLeft back-img-detail">
                <a href="{{recipe.source_url}}" class="img-detail" style="background-image: url({{recipe.image_url}});"></a>

                <div class="fa-fa-detail-results">
                    <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><i  style="color:black;"class="fa fa-share-alt-square fa-2x"></i></a>
                    <a ng-click="addFav"><i class="fa fa-heart fa-2x" style="color:black" aria-hidden="true"></i></a>
                    <i class="fa fa-comments fa-2x" style="color:black" aria-hidden="true"></i>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="detail animated fadeInRight">
                    <h1 class="title-font">{{recipe.title}}</h1>
                    <h2>Ingredients:</h2>
                    <ul>
                        <li ng-repeat=" ingredient in ingredients ">{{ingredient}}</li>
                    </ul>
                    <h2>Directions:</h2>
                    <div class="">
                        <a class="btn-detail" href="{{recipe.source_url}}">Visit Publisher Site</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
