<footer class="container-fluid">
        <!-- <div class="row"> -->
            <div class="col-xs-6 col-sm-3 policecolor">
                <h3 class="policecolor font">In My Fridge</h3>
                <ul class="footer-text">
                    <li>
                        18 rue de la gare.
                    </li>
                    <li>
                        28240 La Loupe.
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 policecolor">
                <h3 class="policecolor font">Join us !</h3>
                <a class="footer-text" href="#"><i class="fa fa-envelope" aria-hidden="true"></i>contact@wildcodeschool.fr</a><br>
                <a class="footer-text" href="#"><i class="fa fa-phone-square" aria-hidden="true"></i>+33.6.76.24.71.99</a>
            </div>
            <div class="col-xs-12 col-sm-6 policecolor pad-copyright">
                <p class="policecolor footer-text text-center" id="ppp"><span class="font">In My fridge</span> © Made by Michel Domingos, Sully Neret &amp; Victor Clousier.</p>
            </div>
        <!-- </div> -->
</footer>
