<!--Login-Register Modal -->

<div class="row modal fade" id="logMod">
    <div class="col-xs-6 col-xs-offset-3 login-modal">
        <form class="form" name="loginForm" novalidate ng-submit="login()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control input-modal" ng-model="user.email" required placeholder="Email Address">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control input-modal" ng-model="user.password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>

<div class="row modal fade" id="regMod">
    <div class="col-xs-6 col-xs-offset-3 login-modal">
        <form class="form" name="loginForm" novalidate ng-submit="register()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control input-modal" ng-model="user.email" required placeholder="Email Address">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control input-modal" ng-model="user.password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>


<!-- Home -->

<div class="container-fluid home" id="main">
    <div class="row">
        <div class="col-xs-12 col-sm-3 text-center" id="fridge">
            <div class="categories">

              <h2>Category</h2>
              <div class="row">
                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=dairy" src="img/Milk-icon.svg" alt=""></a>
                      <p>Dairy</p>
                  </div>

                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=meat"src="img/Meat-icon.svg"  alt=""></a>
                      <p>Meats</p>
                  </div>

                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=fish" src="img/Fish-icon.svg" alt=""></a>
                      <p>Fish</p>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=fruits" src="img/Strawberry-icon.svg" alt=""></a>
                      <p>Fruits</p>
                  </div>

                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=spices" src="img/Kettle-icon.svg" alt=""></a>
                      <p>Spices</p>
                  </div>

                  <div class="col-xs-4">
                      <a href=""><img class="icons" ng-click="ingredients=vegetables" src="img/Tomato-icon.svg" alt=""></a>
                      <p>Vegetables</p>
                  </div>
              </div>

          </div>

          <div class="ingredients">
              <div class="row">
                  <div class="col-xs-2">
                      <img class="wrist" src="img/poignet.png" alt="">
                  </div>
                  <div class="col-xs-9">

                      <h2>Ingredients</h2>
                  </div>
              </div>

              <ul >

                <li ng-repeat="ingredient in ingredients" class="ingredient">{{ingredient}}</li>
              </ul>




            </div>
        </div>


        <div class="col-xs-12 col-sm-6 search text-center" style="font-size:33px">

            <h1 class="title-font">In My Fridge</h1>
            <p>Quick way to find easily all recipes with your leftover food or ingredients.</p>
            <form>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="">
                            <div ng-repeat="recipe in recipes">{{}}</div>
                        </div>
                    </div>
                </div>
                <button type="submit" ng-click="repRecipes()" class="btn btn-primary">Find Recipes</button></form>
        </div>

        <div class="col-xs-12 col-sm-3 rightside">

                <div class="row recipes" style="background-color:#0E9EFF">

                    <div class="col-xs-3 photos">

                        <a href="#"><img class="photos" src="img/cajun.jpg" alt=""></a>
                    </div>

                    <div class="col-xs-9 text-center">
                        <div class="">


                            <p>Cajun Chicken Pasta</p>
                            <p>The Pioneer Woman</p>

                            <div class=""><i class="fa fa-heart fa-2x" style="color:black" aria-hidden="true"></i>
                                <i class="fa fa-comments fa-2x" style="color:black" aria-hidden="true"></i>
                            </div>


                        </div>

                    </div>
                </div>


                <div class="row recipes" style="background-color:orange">
                    <div class="col-xs-3 photos">

                        <a href="#"><img class="photos" src="img/cajun.jpg" alt=""></a>

                    </div>

                    <div class="col-xs-9 text-center">
                        <div class="">


                            <p>Cajun Chicken Pasta</p>
                            <p>The Pioneer Woman</p>

                            <div class=""><i class="fa fa-heart fa-2x" style="color:black" aria-hidden="true"></i>
                                <i class="fa fa-comments fa-2x" style="color:black" aria-hidden="true"></i>
                            </div>


                        </div>

                    </div>
                </div>


                <div class="row recipes" style="background-color:maroon">

                    <div class="col-xs-3 photos">

                        <a href="#"><img class="photos" src="img/cajun.jpg" alt=""></a>

                    </div>

                    <div class="col-xs-9 text-center">
                        <div class="">


                            <p>Cajun Chicken Pasta</p>
                            <p>The Pioneer Woman</p>

                            <div class=""><i class="fa fa-heart fa-2x" style="color:black" aria-hidden="true"></i>
                                <i class="fa fa-comments fa-2x" style="color:black" aria-hidden="true"></i>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="row recipes" style="background-color:purple">

                    <div class="col-xs-3 photos">

                        <a href="#"><img class="photos" src="img/cajun.jpg" alt=""></a>
                    </div>

                    <div class="col-xs-9 text-center">
                        <div class="">


                            <p>Cajun Chicken Pasta</p>
                            <p>The Pioneer Woman</p>

                            <div class=""><i class="fa fa-heart fa-2x" style="color:black" aria-hidden="true"></i>
                                <i class="fa fa-comments fa-2x" style="color:black" aria-hidden="true"></i>
                            </div>


                        </div>

                    </div>
                </div>

              </div>
            </div>

    </div>
</div>
