<div class="container-fluid dashb">
    <h3 class="text-center title-font Cook policecolor">Just Cook It !</h3>

    <div class="row dashc">
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="thbimg" src="../img/scampi.jpg">
                <div class="caption text-center">
                    <h3>Scampi</h3>
                    <a><i  style="color:black;"class="fa fa-share-alt-square fa-4x"></i></a><i style="color:black;" class="fa fa-heart fa-4x"></i><i  style="color:black;"class="fa fa-commenting fa-4x" aria-hidden="true"></i>
                </div>
            </div>

        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="thbimg" src="../img/pesto.jpg">
                <div class="caption text-center">
                    <h3>Pattes au saumons</h3>
                    <a><i  style="color:black;"class="fa fa-share-alt-square fa-4x"></i></a><a><i  style="color:black;"class="fa fa-heart fa-4x"></i></a href="#"><a><i style="color:black;" class="fa fa-commenting fa-4x" aria-hidden="true"></i></a> </div>
            </div>

        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="thbimg" src="../img/sandwich.jpg">
                <div class="caption text-center">
                    <h3>Titre miniature</h3>
                    <a><i  style="color:black;"class="fa fa-share-alt-square fa-4x"></i></a><i  style="color:black;"class="fa fa-heart fa-4x"></i><i  style="color:black;"class="fa fa-commenting fa-4x" aria-hidden="true"></i> </div>
            </div>

        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="thbimg" src="../img/cajun.jpg">
                <div class="caption text-center">
                    <h3>Titre miniature</h3>
                    <a><i style="color:black;" class="fa fa-share-alt-square fa-4x"></i></a><i  style="color:black;"class="fa fa-heart fa-4x"></i><i style="color:black;" class="fa fa-commenting fa-4x" aria-hidden="true"></i> </div>
            </div>

        </div>
    </div>
</div>
